*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.timeline {
    position: relative;
    max-width: 90rem;
    margin: 4rem auto;
}

.timeline-head {
    text-align: left;
}

.timeline-cont {
    padding: 6.7rem 4rem;
    position: relative;
    width: 50%;
}
.text-box{
    padding: 1.7rem 3rem;
    background: beige;
    position: relative;
    border-radius: 0.4rem;
    font-size: 1rem;  
}

.timeline-text {
    text-align: left; 
    margin-left: 0.1rem;
}

.timeline-text1 {
    margin-left: 0;
    margin-bottom: 1rem;
}

.leftCont {
    left : 0;
}

.rightCont {
    left: 50%;
}

.timeline-logo {
    position: absolute;
    width: 10%;
    right: -2.2rem;
    top: 9.3rem;
    z-index: 10;
}

.rightCont .timeline-logo {
    left: -2.1rem;
    width: 9%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 90%;
    background: black;
    top:0;
    left: 50%;
    margin-left: -0.2rem;
    z-index: -1;
    margin-top: 7rem;
}

.text-box h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.leftContArrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 3rem;
    z-index: 1;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid beige;
    right: -1rem;
}
.rightContArrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 3rem;
    z-index: 1;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid beige;
    left: -1rem;
}

.text-ed {
    padding: 0;
}