.textAbout {
    padding: 5rem;
}
.About-container {
    display: flex;
    align-items: center;
}

.text {
    font-size: 1.7rem;
    padding: 0rem 10rem 20rem 6rem;
    
}

.about-img {
    width: 40rem;
    padding-right: 6rem;
    padding-top: 3rem;
    padding-bottom: 20rem;
}
