.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 39, 39);
    padding: 15px 7%;
    transition: 0.5s;
    color: white;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar-icons {
    list-style: none;
    display: flex;
    padding-left: 850px;
}
.icons {
    margin : 0 15px;
    font-size: 20px;
}
.icons a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: white;
    transition: width 0.3s ease;
}

.icons a:hover::after {
    width: 100%;

}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.dark .navbar {
    background-color:  rgb(41, 39, 39);
}
